//  GLOBAL STYLES
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}

:root {
  --clr-white: #fff;
  --clr-primary: #333333;
  --clr-text-primary: #d4cccc;
  --clr-nav-text: #c2c2c2;
  --clr-links: #d3d3d4;
  --clr-black: #000;
  --clr-bg-primary: #333333;
  --clr-bg-unicef: #f5f5f7;

  --content-height: 65rem;
  --gutter-width: 1.2rem;

  --footer-background: #f5f5f7;
  --footer-border-color: #d2d2d7;
  --footer-text-color: #6e6e73;
  --footer-link-color: #424245;
  --footer-directory-title-color: #1d1d1f;
  --footer-directory-title-color-hover: #000;
}
// ---------------------------------------
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background: rgba($color: #000, $alpha: 0.9);
}
.header.active {
  background: #000;
}

.centered {
  margin: 0 auto;
  max-width: 980px;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  position: relative;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 1.5rem;
  height: 0.12rem;
  margin: 0.5rem auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--clr-nav-text);
}

.main-content {
  margin-top: 4.5rem;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  font-size: 1.2rem;
}
.nav-link {
  font-weight: 400;
  color: var(--clr-nav-text);
  transition: all 0.2s;
}

.nav-link:hover {
  color: var(--clr-white);
}

.nav-logo {
  font-weight: 500;
}
.mobile-nav {
  display: none;
}
.mobile-search {
  display: none;
  color: #fff;
  background-color: var(--clr-bg-primary);
  border: none;
  outline: none;

  &::placeholder {
    color: #6e6e73;
  }
}
// ---------------------------------------
// ----SVG-----

.svg {
  .svg-nav {
    fill: var(--clr-text-primary);
  }

  &:hover {
    .svg-nav {
      fill: var(--clr-white);
    }
  }
}

.svg-brand {
  width: 1.5rem;
  height: auto;
  fill: var(--clr-text-primary);
  transition: all 0.4s;

  &:hover {
    fill: var(--clr-white);
  }
}

// #f5f5f7
// Unicef Description
.unicef-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.5rem;
  padding: 2rem 0;
  font-size: 14px;
  background-color: var(--clr-bg-unicef);
  color: #4790d8;

  .unicef-description {
    font-weight: 500;
    position: relative;
    margin-bottom: 0.2rem;

    &::after {
      content: '\2197';
      font-weight: bold;
      font-size: 1.5rem;
    }
  }
}

// HERO SECTION
.hero {
  margin-bottom: 1.5rem;
}

.hero-wrapper {
  display: grid;
  grid-template-columns: 1fr;
}

.content-wrapper {
  text-align: center;
  background-size: cover;
  min-height: 83vh;
  padding-top: 5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.content-wrapper:nth-child(1) {
  background: url(/assets/images/heroes/iphone-13/hero_iphone13_avail__gnqqkzuai6um_largetall.jpg)
    no-repeat 50%;
}
.content-wrapper:nth-child(2) {
  background: url(/assets/images/heroes/watch/hero_watch_lte__b8er858e34gi_large.jpg)
    no-repeat 50%;
}
.content-wrapper:nth-child(3) {
  background: url(/assets/images/heroes/bts/hero_bts__bcuslanw39xe_large.jpg)
    no-repeat 50%;
  min-height: 75vh;
}
// Topography

.headline {
  font-size: 5.6rem;
  font-weight: 500;
}

.subhead {
  font-size: 2.4rem;
  font-weight: 400;
}
.content-wrapper:nth-child(3) .headline {
  font-style: italic;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  span {
    color: #ca2166;
  }
}

// CTA
.cta-wrapper {
  display: flex;
  column-gap: 2rem;
  font-size: 2.1rem;
  margin-top: 2rem;
  position: relative;

  .cta-link {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
    color: #2b80d4;
    font-weight: 400;
    &:hover span {
      text-decoration: underline;
    }
  }
}

.icon {
  font-size: 1.6rem;
  text-decoration: none;
}

// PRODUCTS😊
.products {
  margin: 1rem;
  // margin-bottom: 1.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  gap: 1rem;

  .product-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: #fbfbfd;

    .product-content {
      .product-title {
        font-size: 4rem;
        line-height: 1.1;
        font-weight: 600;
        letter-spacing: 0em;
        margin-top: 5.3rem;
      }
      .product-subtitle {
        font-size: 2.1rem;
        line-height: 1.2381;
        font-weight: 400;
        letter-spacing: 0.016em;
        margin-top: 0.4rem;
      }
      .product-avail {
        color: #86868b;
        margin-top: 0.6rem;
        text-align: center;
        font-size: 1.7rem;
        line-height: 1.47059;
        font-weight: 400;
        letter-spacing: -0.022em;
      }
    }

    // .product-img-wrapper{
    //   width: 100%;
    //   height: 100%;
    // }
    .product-img {
      width: 100%;
      height: auto;
    }

    .cta-wrapper {
      margin-top: 1rem;
      font-size: 1.7rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

// DARK THEME

.theme-dark {
  color: #f5f5f7 !important;
  background-color: #000 !important;
}

.theme-light-dark {
  color: #fff !important;
  background-color: #1a1a1a !important;
}

// FOOTER

.footer {
  line-height: 16px;
  background: var(--footer-background);

  &-content {
    color: var(--footer-text-color);
    font-size: 1.2rem;
    padding: 2rem 0;
  }

  .footer-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .footer-description {
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--footer-border-color);
  }

  .footer-link {
    color: var(--footer-link-color);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.footer-secondary {
  padding: 2rem 0;
  display: flex;

  .footer-column {
    flex: 25%;

    .title-box {
      color: #000;
      pointer-events: none;
      position: relative;
      .footer-icon {
        display: none;
      }
    }
    .title-box.active {
      background-color: red;
    }
    .column-title {
      display: flex;
      // color: var(--footer-directory-title-color);
      font-weight: 500;
      font-size: 1.2rem;
    }
    li {
      a {
        color: var(--footer-link-color);

        &:hover {
          text-decoration: underline;
        }
      }
    }

    div {
      display: flex;
      flex-direction: column;
      // gap: 1rem;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }

      .footer-secondary-list {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
    }
  }

  // .footer-column:not(:last-child) {
  //   margin-right: 6rem;
  // }
}

.footer-copyright {
  padding-bottom: 1rem;
  .description {
    font-size: 12px;
    font-style: normal;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--footer-border-color);

    a {
      color: rgb(0, 102, 204);

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .copyright {
    display: flex;
    justify-content: space-between;

    .copyright-nav {
      display: flex;
      column-gap: 2rem;
      align-items: center;
    }

    a {
      color: var(--footer-link-color);

      &:hover {
        text-decoration: underline;
      }
    }

    .copyright-list {
      display: flex;
      flex-wrap: wrap;
      column-gap: 1rem;
      row-gap: 0.5rem;

      li:not(:last-child) {
        padding-right: 1rem;
        border-right: 1px solid var(--footer-border-color);
      }
    }
  }
}

// CAROUSEL START
.slider {
  width: 100%;
  margin: 0 auto;
  margin-left: auto;
  overflow: hidden;
  margin-bottom: 4rem;
}

.imgs_slides {
  width: 400%;
  height: 500px;
  display: flex;
  column-gap: 1rem;
}

/* We have to set display: none;
          If not, all of our images would 
          be visible at the same time */
.imgs_slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
  position: relative;
  // margin-left: 11rem;
}

.slide img {
  width: 100%;
  height: 100%;
}

/* css for slide navigation */
.navigation {
  position: absolute;
  width: 100%;
  // margin: 15 auto 0 auto;
  margin: 0 auto;
  margin-top: 1.2rem;
  display: flex;
  justify-content: center;
}

.navigation-btn {
  // border: 2px solid #de6a23;
  background: #c2c2c2;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.navigation-btn:not(:last-child) {
  margin-right: 15px;
}

.navigation-btn:hover {
  background: var(--clr-black);
}

/* The checked attribute is used with
        reference to <input type="radio">, 
        when radio button is clicked the 
        class will shift w.r.t  left margin 
        as mentioned which results in image 
        slider */
#radio1:checked ~ .first {
  // margin-left: 10rem;
  // margin-left: 6rem;
  .btn {
    bottom: 10%;
    opacity: 1;
  }
}

#radio2:checked ~ .first {
  margin-left: -18%;
  // margin-left: -18.5%;
}

#radio3:checked ~ .first {
  margin-left: -38%;
  // margin-left: -38.5%;
}

#radio4:checked ~ .first {
  margin-left: -58%;
}

#radio5:checked ~ .first {
  margin-left: -78%;
}

.info-bottom {
  position: absolute;
  bottom: 11%;
  left: 10%;
  display: flex;
  align-items: center;
  column-gap: 3rem;

  .btn {
    color: var(--clr-black);
    background: var(--clr-white);
    border: none;
    outline: none;
    padding: 1rem 1.5rem;
    border-radius: 10rem;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    cursor: pointer;
  }
  .play-img {
    width: 1.5rem;
  }
  .slide > img {
    object-fit: cover;
  }
  .slide-description {
    font-size: 2rem;
    color: var(--clr-white);

    span {
      font-weight: bold;
    }
  }
}
// CAROUSEL END

// --------------------------------
// Media Queries
// --------------------------------`

@media only screen and (max-width: 876px) {
  .copyright {
    &-nav {
      flex-direction: column;
      align-items: flex-start !important;
      row-gap: 0.5rem;
    }
  }
}

@media only screen and (max-width: 833px) {
  .mobile-nav {
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mobile-search {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    font-size: 1.7rem;
  }
  .nav-item:nth-child(2) {
    padding: 0;
  }
  .display-none {
    display: none;
  }
  .nav-menu {
    background: #000;
    position: fixed;
    top: -100%;
    left: 0;
    flex-direction: column;
    justify-content: flex-start;
    // row-gap: 1rem;
    // align-items: flex-start;
    width: 100%;
    height: 100vh;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    z-index: 1;
    transition: all 0.2s;
    padding: 0 40px 8px;
  }
  .nav-item {
    font-size: 1.7rem;
    // padding: 1rem;
    width: 100%;
    margin: 0 auto;
    padding: 1rem 0;
    text-align: start;
    border-bottom: 1px solid var(--footer-border-color);
  }

  .nav-menu.active {
    top: 4.7rem;
    left: 0;

    .nav-item:nth-child(13) {
      border: none;
    }
  }

  .mobile-nav.active {
    transition: all 0.2s;
    background: #000;
    width: 100%;
    margin: 0;
  }

  .mobile-nav.active div:nth-child(3) {
    opacity: 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(1px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(2) {
    transform: translateY(-5px) rotate(-45deg);
  }

  .copyright {
    flex-direction: column-reverse;
    row-gap: 2rem;
  }

  .footer-copyright {
    .description {
      border-bottom: none;
      // padding: 0 2.2rem;
    }
  }

  .footer-secondary {
    flex-direction: column;

    .footer-column {
      .column-title {
      }
      .title-box {
        color: var(--footer-text-color);
        pointer-events: all;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1rem 1rem 0;
        margin: 0 1rem;
        border-bottom: 0.1rem solid var(--footer-border-color);

        .footer-icon {
          transition: all 0.2s;
          display: block;
        }
      }
    }
  }

  .footer-secondary {
    .footer-column {
      div {
        gap: 0;
        &:not(:last-child) {
          margin-bottom: 0;
        }
        .footer-secondary-list {
          display: none;
          margin: 0 1rem;
          padding: 1rem 0;
          border-bottom: 0.1rem solid var(--footer-border-color);
        }
      }
    }
  }
}

@media only screen and (max-width: 734px) {
  .unicef-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .unicef-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &::after {
      position: absolute;
      top: 10px;
      right: -18px;
    }
  }

  .products {
    grid-template-columns: 1fr;
    margin: 0;
  }

  .slider {
    margin-top: 1rem;
  }

  .info-bottom {
    flex-direction: column-reverse;
    row-gap: 1rem;
    font-size: 1.6rem;

    .slide-description {
      font-size: 1.6rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

@media only screen and (max-width: 480px) {
  .hero-wrapper .content-wrapper {
    padding: 3rem 0;
    padding-bottom: 0;
    min-height: 75vh;

    .headline {
      font-size: 4.6rem;
    }
  }
  .hero-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .info-bottom {
    left: 50%;
    transform: translateX(-50%);
  }

  .copyright-list {
    justify-content: start;
  }

  .copyright-item:not(:first-child) {
    margin-left: 1rem;
  }

  .slide-description {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 350px) {
  .info-bottom .slide-description {
    font-size: 1.3rem;
  }
}
// ---------------------------------------
